
.item{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid black;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.03);
    margin: 15px 0;
    transition: 0.2s ease-in-out;
}

img{
    max-width: 100%;
    border-radius: 20px;
}

.item-description{
    text-align: start;
    padding: 10px 0;

}